{% extends "base_generic.html" %}
{% load static %}

{% block css %}
	<link href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
	<style type="text/css">
		table td {
			word-wrap: break-word;
			max-width: 250px;
		}
	</style>
{% endblock %}

{% block title_panel %} Cargar pdf {% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-4">
		<h4>{% if object %}Editar {% else %}Registrar {% endif %} archivos pdf</h4><hr>
	  {% if form.errors %}
	  <p>Please try again.</p>
	  <p>{{ form.errors }}</p>
	  {% endif %}

	  <form method="post" enctype="multipart/form-data">
		  {% csrf_token %}
		  <div>
		    <div>{{ form.pdf_uno.label_tag }}</div>
		    <div>{{ form.pdf_uno }}</div>
		  </div><br>
		  <div>
		    <div>{{ form.pdf_dos.label_tag }}</div>
		    <div>{{ form.pdf_dos }}</div>
		  </div><br>

		  <div>
		    <input type="submit" value="GUARDAR" class="btn btn-primary btn-user btn-block" />
		    <input type="hidden" name="next" value="{{ next }}" />
		  </div>
	  </form>
	</div>
	<div class="col-sm-8">
		<h4>Lista de archivos</h4><hr>
		<table class="table datatable">
			<thead>
				<tr>
					<th>usuario</th>
					<th>archivos</th>
					<th>acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for registro in list_files %}
				<tr>
					<td>{{ registro.usuario.username }}</td>
					<td>
						[1] <a href="{{ registro.pdf_uno.url }}">{{ registro.get_name_pdf_uno }}</a><br>
						[2] <a href="{{ registro.pdf_dos.url }}">{{ registro.get_name_pdf_dos }}</a>
					</td>
					<td>
						<label>Por definir</label>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function () {
            $('.datatable').DataTable({});
        });
	</script>
{% endblock %}