{% extends "base_generic.html" %}
{% load static %}

{% block css %}
	<link href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title_panel %} Gestión de usuarios {% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-4">
		<h4>{% if object %}Editar {% else %}Registrar {% endif %} usuario</h4><hr>
	  {% if form.errors %}
	  <p>Please try again.</p>
	  <p>{{ form.errors }}</p>
	  {% endif %}

	  <form method="post">
		  {% csrf_token %}
		  <div>
		    <div>{{ form.username.label_tag }}</div>
		    <div>{{ form.username }}</div>
		  </div><br>
		  <div>
		    <div>{{ form.password.label_tag }}</div>
		    <div>{{ form.password }}</div>
		  </div><br>
		  <div>
		    <div>{{ form.email.label_tag }}</div>
		    <div>{{ form.email }}</div>
		  </div><br>
		  <div>
		    <div>{{ form.perfil.label_tag }}</div>
		    <div>{{ form.perfil }}</div>
		  </div><br>

		  <div>
		    <input type="submit" value="GUARDAR" class="btn btn-primary btn-user btn-block" />
		    <input type="hidden" name="next" value="{{ next }}" />
		  </div>
	  </form>
	</div>
	<div class="col-sm-8">
		<h4>Lista de usuarios</h4><hr>
		<table class="table datatable">
			<thead>
				<tr>
					<th>usuario</th>
					<th>perfil</th>
					<th>email</th>
					<th>acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for user in list_users %}
				<tr>
					<td>{{ user.username }}</td>
					<td>{{ user.perfil.tipo }}</td>
					<td>{{ user.email }}</td>
					<td>
						<a href="{% url 'home:editar_usuario' user.id %}" class="btn btn-primary btn-icon btn-circle btn-sm">
							<i class="fa fa-edit"></i>
						</a>
						<a href="{% url 'home:eliminar_usuario' user.id %}" class="btn btn-danger btn-icon btn-circle btn-sm">
							<i class="fa fa-trash"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function () {
            $('table.datatable').DataTable();
        });
	</script>
{% endblock %}